:root{
    --fonte-primaria: "Nunito", sans-serif;
    --fonte-secundaria: "Playfair Display SC", serif;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    background-color: #da9d9a;
    padding: 0 15% 0 15%;
    font-family: var(--fonte-primaria);
}

.cabeçalho_logo{
    width: 13%;
}
.cabeçalho_tema{
    display: flex;
    align-items: center;
    gap: 5%;
}

.cabeçalho_nome{
    font-size: 150%;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    color: white;
}

.cabeçalho_navegacao{
    display: flex;
    align-items: center;
    gap: 30%;
    font-size: 110%;
    justify-content: flex-end;
}

.cabeçalho_item{
    color: white;
    text-transform: none;
    text-decoration: none;
    font-size: 120%;
}

.introdução{
    display: flex;
    padding: 0 15% 0 15%;
    align-items: center;
}

.introdução_section{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.introdução_titulo{
    font-family: var(--fonte-secundaria);
    color: #a3706e;
    font-weight: 600;
    font-size: 600%;
    padding: 2%;
}

.introdução_parágrafo{
    font-family: var(--fonte-primaria);
    color: black;
    font-size: 130%;
}

.introdução_botao{
    font-family: var(--fonte-primaria);
    color: rgb(255, 255, 255);
    font-size: 130%;
    font-weight: 600;
    background-color: #855352;
    width: 25%;
    padding: 2%;
    text-align: center;
}

.introdução_img{
    width: 40%;
}