.cabeçalho{
    display: flex;
    justify-content: space-between;
    background-color: #da9d9a;
    padding: 0 15% 0 15%;
    font-family: "Nunito", sans-serif;
}

.cabeçalho_logo{
    width: 13%;
}
.cabeçalho_tema{
    display: flex;
    align-items: center;
    gap: 5%;
}

.cabeçalho_nome{
    font-size: 150%;
    font-family: "Playfair Display SC", serif;
    color: white;
}

.cabeçalho_navegacao{
    display: flex;
    align-items: center;
    gap: 30%;
    font-size: 110%;
    justify-content: flex-end;
}

.cabeçalho_item{
    color: white;
    text-transform: none;
    text-decoration: none;
    font-size: 120%;
}

.main_img{
    width: 50%;
    display: flex;
    margin: auto;
}